<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymovielist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logopequeno"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMovieList">
        <activity
            android:name=".models.Review.CreateReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.MyMovieList.NoActionBar"/>
        <activity
            android:name=".login.multilanguage.MultiLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".GenreChooser"
            android:exported="false" />
        <activity
            android:name=".models.Users.ChooseImageUserActivity"
            android:exported="false" />
        <activity
            android:name=".onboardingscreen.OnBoardingMain"
            android:exported="false" />
        <activity
            android:name=".User_a"
            android:exported="false" />
        <activity
            android:name=".onboardingscreen.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".login.PreLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Movie"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Reviews_a"
            android:exported="false" />
        <activity
            android:name=".Users"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FilmsYouSee"
            android:exported="false" />
        <activity
            android:name=".Ranking"
            android:exported="false" />
        <activity
            android:name=".models.Recomended.Recomendedfilms"
            android:exported="false" />
        <activity
            android:name=".EscollirTemes"
            android:exported="false" />
        <activity
            android:name=".ProfileGenreChooser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>